.popup__info {
    display: block;
    width: 358px;
    margin: 30px auto 0;
    padding: 0 0 13px;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 0;
    color: #000;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}

@media (max-width: 860px) {
    .popup__info {
        width: 238px;
    }
}