.popup__container {
    /* position: absolute; */
    position: relative;
    width: 430px;
    height: 330px;
    border-radius: 10px;
    background-color: #fff;
}

@media (max-width: 860px) {
    .popup__container {
        width: 282px;
        height: 322px;
    }
}