.profile {
    display: grid;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 40px auto 50px auto;
    grid-template-columns: 120px 1fr 150px;
    grid-template-rows: repeat(1, min-content);
    gap: 30px;
    grid-template-areas:
        "avatar info button";
}

@media (max-width: 860px) {
    .profile {
        justify-content: center;
        margin: 42px auto 36px auto;
        justify-items: center;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, min-content);
        gap: 26px;
        grid-template-areas:
            "avatar"
            "info"
            "button";
    }
}