
/* 
.profile__subtitle {
    max-width: 500px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (max-width: 860px) {
    .profile__subtitle {
        max-width: 100%;
    }
} */

.profile__subtitle {
    color: #fff;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  @media (max-width: 860px) {
    .profile__subtitle {
      max-width: 100%;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
    }  
  }
