.profile__title {
    max-width: 500px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (max-width: 860px) {
    .profile__title {
        font-size: 27px;
        line-height: 33px;
    }
}