.footer__copyrigth {
    margin: 0;
    padding: 0;
    color: #545454;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}

@media (max-width: 860px) {
    .footer__copyrigth {
        font-size: 14px;
        line-height: 17px;
    }
}