.profile__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    grid-area: info;
}

@media (max-width: 860px) {
    .profile__info {
        align-items: center;
        max-width: 100%;
    }
}
