.elements__heart {
    Width: 22px;
    Height: 19px;
    border: 0;
    background-color: transparent;
    background-image: url(../../../images/like.svg);
    background-position: center;
}

.elements__heart:hover {
    opacity: 0.5;
    cursor: pointer;
}